@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body {
    background-image: url('./images/online-school.jpg');
    background-color: #444;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}

.home-header {
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.home-subheading {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.role {
    width: 30%;
    margin: 30px auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 15px; /* Space between buttons */
}

.role button {
    width: 180px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

/* Sign-Up and Login buttons */
.signup-role,
.login-role {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.signup-role:hover,
.login-role:hover {
    background-color: #90EE90;
    border: none;
}

/* Register and Login buttons */
.register,
.login-btn {
    background: linear-gradient(to right, #fb5283, #ff3527);
    color: #fff;
    border: none;
}

.register:hover,
.login-btn:hover {
    width: 190px;
}
.action button {
    width: 180px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.teacher-register,.student-register {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.teacher-register:hover, .student-register:hover {
    background-color: #90EE90;
    border: none;
}
.teacher-login,.student-login {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.teacher-login:hover,.student-login:hover {
    background-color: #90EE90;
    border: none;
}


